.featured_products {
    width: 92%;
    height: 600px;
    position: absolute;
    left: 4%;
    top: 680px;
    display: inline;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.featured_products h2 {
    margin-left: 43.5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.featured_products .product {
    position: relative;
    width: 17%;
    height: 350px;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    display: block;
    text-align: center;
    line-height: 2em;
}

.featured_products .product img{
    width: 100%;
    height: 48%;
}
.featured_products .product .product_name {
    color: rgba(0,0,0,0.62);
    font-size: 1em;
    display: inline-block;
    overflow-x: hidden;
}

.featured_products .product .product_cost {
    color: rgba(0,0,0,0.85);
    font-size: 1.8em;
    display: inline-block;
    overflow-x: hidden;
}

.featured_products .product .buy {
    color: rgba(0, 0, 0, 0.62);
    font-size: 1.3em;
    padding: 0.3em;
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1%;
}

.featured_products .product .buy:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,0.3);
}

.home_page_info {
    width: 90%;
    display: inline-block;
    position: absolute;
    top: 1216px;
    left: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 220px;
}

.home_page_info .bottom_info {
    float: left;
    width: 20%;
    margin-left: 9%;
    margin-right: 3%;
    height: 98%;
}

.home_page_info .bottom_info h2 {
    color:rgba(0,0,0,0.85);
}

.home_page_info .bottom_info p {
    color: rgba(0,0,0,0.62);
}

footer {
    width: 88%;
    position: absolute;
    left: 4%;
    top: 1450px;
    background-color: slateblue;
    box-shadow: 4px 2px 10px #888888;
    border-radius: 10px;
}

footer p {
    text-align: center;
    color: white;
    font-size: 1.3em;
}
